<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smartcommunity.hwpeng.com.smartcommunity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".base.MyApplication">

        <!-- 实时通信模块、推送（均需要加入以下声明） START -->
        <!-- 实时通信模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService"/>
        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->

        <!-- 反馈组件（需要加入以下声明）START -->
        <activity
            android:name="com.avos.avoscloud.feedback.ThreadActivity" >
        </activity>
        <!-- 反馈组件 END -->


        <activity android:name=".splash.view.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.view.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".register.view.RegisterActivity"
            android:theme="@style/Theme.AppCompat">
        </activity>
        <activity android:name=".base.LoginSuccessActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

    </application>

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

</manifest>